@import '~/node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --theme-ui-colors-text: #000200;
  --theme-ui-colors-background: #fafaf9;
  --theme-ui-colors-primary: #f25f5c;
  --theme-ui-colors-secondary: #111199;
  --theme-ui-colors-muted: rgba(0, 0, 0, 0.1);
  --theme-ui-colors-highlight: #efeffe;
  --theme-ui-colors-gray: #777777;
  --theme-ui-colors-accent: #660099;
  --theme-ui-colors-darken: rgba(0, 0, 0, 0.25);
  --theme-ui-colors-primaryDark: #b51916;
  --theme-ui-colors-primaryLight: #fcbab1;
  --theme-ui-colors-blue: #b6dee2;
  --theme-ui-colors-blueDark: #247ba0;
  --theme-ui-colors-greenDark: #2d5948;
  --theme-ui-colors-green: #b2e4dc;
  --theme-ui-colors-yellowDark: #ffda3a;
  --theme-ui-colors-yellow: #fcf5c7;
}
